################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeManagement/obj
/EmployeeManagementDB/bin/Debug
/EmployeeManagementDB/obj/Debug
/EmployeeManagementDB/EmployeeManagementDB.dbmdl
*.jfm
